/*=====================================================
	Ski/Snowboarding Shop
	Name: Edward Koroteev
	Date:12/6/2016
	Filename: Repairs_style.css
	Purpose: Cascade Style Sheet for the Repairs.html
=======================================================*/
body{
	font-family:Impact, Charcoal, sans-serif;
	background-image: url("../Images/background.jpg");
	background-size:100% 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

div{
	width:1100px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
}

#midsection{
	background-color: rgba(80,164,191,.8);
	border: 2px solid black;
	border-bottom: none;
}

nav ul{
	list-style-type:none;
}

nav a{
	color: rgba(255,255,255,1);
	font-size:30px;
	display:block;
	padding: 20px 60px;
	text-decoration:none;
	background-color: rgba(0,0,0,1);
	margin-left:-6px;
}

nav li{
	float:left;
}

nav a:hover{
	color:rgba(0,0,0,1);
	background-color:rgba(255,255,255,1);
}

header{
	text-align:center;
	font-size:80px;
}

h1{
	text-align:center;
	font-size:50px;
	padding-bottom:100px;
	margin-bottom:-50px;
}

#snowboard{
	width:200px;
	height:125px;
	position:absolute;
	margin-top:-125px;
}

h2 {
	font-size: 40px;
	margin: 0;
	padding: 20px 0px 0px 30px;
}

p{
	padding: 30px;
	font-family:"Courier New", Courier, monospace;
	margin:0;
	font-size:25px;
}

section ul{
	margin:0;
	font-family:"Courier New", Courier, monospace;
	font-size: 20px;
	padding: 1px 0px 1px 50px;

}

#repairs{
	background-color: rgba(80,164,191,.8);
	border: 2px solid black;
	border-top: none;
	padding-top:50px;
	padding-bottom: 50px;
}

#repairdetails{
	background-color: rgba(255,255,255,.5);
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding: 10px;
	text-align: center;
	
	-moz-border-radius:25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

#repairdetails th{
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 0px 12px 0px 12px;
}

#repairdetails tr,td{
	border: 2px solid black;
	padding: 5px 25px;
}

#repairdetails h3{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#repairdetails caption{
	font-size: 40px;
}

form{
	background-color: rgba(255,255,255,.5);
	width:1000px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
	
	-moz-border-radius:25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

legend{
	font-size: 40px;
}

#form{
	background-color: rgba(80,164,191,.8);
	border-right: 2px solid black;
	border-left: 2px solid black;
	font-size:25px;
}
